@use "variables" as v;
@use "sass:color";

#pnlAdd {
    padding: 12px;

    .addImage {
        display: flex;
        justify-content: space-evenly;

        .camera { display: block; }
        a {
            font-size: 3.6rem;
            color: v.$link-color;

            &:hover, &:focus { color: v.$link-hover-color; }
        }
    }

    .submitContainer {
        position: relative;
        display: inline-block;
        width: 100px;
        height: 40px;
        left: 50%;
        top:50%;
        margin-left: -50px;
        margin-top: 20px;
        text-align: center;

        #submitAdd {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100px;
            height: 40px;
            background-color: v.$bg-color;
            border: 2px solid v.$link-color;
            border-radius: 10px;
            color: v.$link-color;
            font-size: 1.1rem;
            cursor: pointer !important;
            outline: none;
            transition: all 0.3s ease;

            &:hover, &:focus { 
                background-color: color.adjust(v.$bg-color, $lightness: 7%); 
            }

            &.loading {
                font-size: 0;
                width: 30px;
                height: 30px;
                margin-top: 5px;
                border-radius: 15px;
                padding: 0;
                border: 3px solid v.$link-color;
                border-bottom: 3px solid rgba(255, 255, 255, 0.0);
                border-left: 3px solid rgba(255, 255, 255, 0.0);
                background-color: transparent !important;
                animation: loading 1s linear 0.2s infinite;
            }
        }

        .fa {
            color: v.$link-color;
            font-size: 18px !important;
            position: absolute;
            left: 50%;
            top: 50%;
            margin-left: -9px;
            margin-top: -9px;
            transform: scaleX(0) !important;
        }

        .finish { transform: scaleX(1) !important; }
        .hide-loading {
            opacity: 0;
            transform: rotate(0deg) !important;
            transform: scale(0) !important;
        }
    }
}

@media screen and (min-width: 700px) {
    #pnlAdd .addImage .camera { display: none; }
}


@keyframes loading {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}