$link-color: #0272B8;
$link-hover-color: #3D90C3;
$bg-color: #f5f5f5;
$header-color: #01426A;

$toast-dark: #34495E;
$toast-light: #ccc;
$toast-success: #0ABF30;
$toast-error: #E24D4C;
$toast-warning: #E9BD0C;
$toast-info: #3498DB;
