$link-color: #414833;
$link-hover-color: #656d4a;
$bg-color: #ede0d4;

$toast-dark: #34495E;
$toast-light: #ffffff;
$toast-success: #0ABF30;
$toast-error: #E24D4C;
$toast-warning: #E9BD0C;
$toast-info: #3498DB;