@use "reset";
@use "variables" as v;
@use "toast";
@use "add";
@use "view";
@use "fields";
@use "sass:color";



body {
    background-color: v.$bg-color;
    font-size: 16px;
    padding-top: 40px;
}

h1 {
    font-size: 2.2rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin: 18px 0;
    color: v.$header-color;
}

h2 {
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}

h3 { font-size: 1.1rem; }

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    z-index: 50;

    a {
        color: v.$bg-color;
        text-decoration: none;
        display: block;
        padding: 15px;
        width: 50%;
        text-align: center;
        background-color: v.$link-color;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.2rem;
        text-transform: uppercase;
        position: relative;

        &:hover, &:focus {
            background-color: v.$link-hover-color;
        }

        &.active {
            color: #fff; 
            background-color: v.$header-color;
            &::before {
                content: "";
                width: 100%;
                height: 6px;
                position: absolute;
                bottom: 0;
                left: 0;
                background-color: color.adjust(v.$header-color, $lightness: -5%);
            }
        }
    }
}

a {
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out
}

.note {
    font-size: 0.8rem;
    color: #333;
}