@use "reset";
@use "variables" as v;
@use "fields";



body {
    background-color: v.$bg-color;
    font-size: 16px;
}

h1 {
    font-size: 2.45rem;
    font-family: "Playfair Display", serif;
    text-align: center;
    margin: 18px 0;
}

nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    a {
        color: v.$bg-color;
        text-decoration: none;
        display: block;
        padding: 15px;
        width: 50%;
        text-align: center;
        background-color: v.$link-color;
        font-weight: 700;
        letter-spacing: 1px;
        font-size: 1.2rem;
        text-transform: uppercase;

        &:hover, &:focus {
            background-color: v.$link-hover-color;
        }
    }
}

#pnlAdd {
    padding: 12px;
}